.heightAdm {
    height: 92vh;
}

.centerAdm {
    display: flex;
}

.centerAdmContent {
    margin: auto;
}

.admin {
    display: grid;
    grid-template-rows: auto;
}

.adminApolo {
    font-weight: normal;
    margin: auto;
}

.adminTitle {
    margin: auto;
    text-align: center;
}

.admOpts {
    /* margin: auto; */
}

.admUl {
    list-style: none;
    text-align: center;
}

.content 
{
    margin: auto;
    width: 90%;
}

.sys_status_title {
    font-size: 1.2em;
    font-weight: bold;
}

.sys_status {
    /* font-weight: bold; */
    /* font-weight: normal; */
}

.sys_status span{
    font-size: 1.1em;
    /* font-weight: bold; */
}