.footer {
    background: #eee;
    width: 100%;
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    color: #727272;
    font-size: 0.9em;
    border-top: solid 1px rgba(0, 0, 0, 0.17);
}

.footer div {
    color: inherit;
}

.footer div b, .footer div b a{
    color: inherit;
}

.footer div b a {
    text-decoration: none;
}

.footer div b a:hover,.footer div b a:focus {
    text-decoration: underline;
    color: black;
}

.footerItems ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: inherit;
}

.footerItems li {
    float: right;
    margin: 0 10px 0 10px;
    color: inherit;
}

.footerItems li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
}
 
.footerOpt:hover,.footerOpt:focus {
    color: black;
    text-decoration: underline;
}