.livros {
    grid-area: content;
    display: flex;
}

.livrosContent {
    margin: auto;
    width: 70%;
    display: block;
}

.livrosTitle {
    margin: auto;
    text-align: center;
}

.livrosCatalog {
    display: flex;
    margin: auto;
}

.livro {
    max-width: 21%;
    float: left;
    padding: 2%;
}

.livroImage {
    width: 100%; display: none;
}

.livroImage img {
    width: 100%;
}

.livroInfo {
    display: grid;
    margin: auto;
    text-align: center;
    grid-template-rows: auto;
}

.livroTitle {
}

.livroAutor h4 {
    font-weight: normal;
    margin-top: 0; 
}

.livroCodigo h4 {
    font-weight: normal;
    margin-top: 0; 
    font-size: 0.9em;
}