.login {
    width: 100%;
    display: flex;
    /* background: green; */
}

.loginContent {
    /* width: 20%; */
    margin: 20px auto auto auto;
    display: flex;
    border: solid 1px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.23);
    border-radius: 3px;
    padding: 20px;
    box-sizing: border-box;
}

.loginContent h3 {
    font-weight: normal;
    text-align: center;
}

.loginFrm {
    margin: auto;
    width: 100%;
}

.loginFrm input {
    font-size: 1.1em;
}

.loginField {
    width: 100%;
    display: grid;
}

.loginField div {
    width: 100%;
    padding: 5px;
    padding-left: 0;
    /* font-size: 1.1em; */
    font-weight: bold;
}

.lblSenha {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
}

#senhaInfo {
    font-size: 0.8em;
    font-weight: normal;
    margin: auto;
    margin-right: 0;
    color: rgb(55, 55, 255);
    text-decoration: none;
}

#senhaInfo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.loginField input {
    width: 100%;
    margin-bottom: 5px; 
    box-sizing: border-box;
}

.loginSubmit {
    margin: 10px 0 0 0;
    width: 100%;
    box-sizing: border-box;
}

.loginBtn {
    float: right;
    margin: auto; 
    background: #1b7af7;
    color: #fefefe;
    border: solid 1px #f4f4f4;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.loginBtn:hover, .loginBtn:focus {
    background: linear-gradient(#3689f5, #1b7af7);
    border: solid 1px rgba(0, 0, 0, 0.17);
    cursor: pointer;
}

.frmReq {
    font-weight: normal;
    color: red;
}