/* .mainadm {
	width: 100%;
	display: flex;
}

.mainadmContent {
	margin: auto;
} */

body {
	min-height: 92vh;
}

.voltaInicio {
	display:block;
	position: absolute; 
	margin:10px; 
	font-size: 0.8em;
	color: #727272;
}

.voltaInicio:hover {
	color: black;
}

.double_grid {
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1fr;
}

.mainMenuAdm {
	background: #e0e0e0;
	border: solid 1px #ccc;
	height: 132vh;
}

.mainMenuAdmUl {
	list-style: none;
	margin-top: 0;
}

.mainMenuAdmUl a {
	display: block;
	padding: 5px;
	color: #525252;
}

.mainMenuAdmUl a:hover {
	color: black;
}

.selected {
	font-weight: bold;
}

.dashboard {
	background: #f1f1f1;
	width: 100%;
	/* display: flex; */
	height: 100%;
	padding-bottom: 20px;
}

.dashboardContent {
	/* margin: auto; */
	height: 100%;
}

.dashboardContent iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.dashboardTitle {
	margin-bottom: 0;
}

.contentaddnew
{
	display: flex;
}

#options {
	margin: auto;
}

#options a {
	color: #0349fc;
}

#balanco {
	margin: auto;
	padding: 10px;
	font-weight: bold;
	/* font-weight: normal; */
}

#balanco span {
}

.admTable {
	font-size: 0.9em;
	background: #fff;
	margin: auto;
	border-collapse: collapse;
	width: 95%;
	border: solid 1px rgba(0, 0, 0, 0.17);
}

.admTable tr:nth-child(even){
	background: #f9f9f9;
}
.admTable tr.trAtrasado{
	background: rgba(255, 0, 0, 0.1);
}

.admTable tr.exc{
	background: rgba(255, 0, 0, 0.1);
}

.admTable th {
	font-weight: normal;
	text-align: left;
	padding: 10px;
}

.admTable td{
	max-width: 120px;
	padding: 10px;
	font-weight: bold;
	word-wrap: break-word;
}

.admTable td.action a{
	font-weight: normal;
    color: #0349fc;
}

.admTable td b {
	font-weight: normal;
	font-size: 0.8em;
}

.header {
	border-bottom: solid 1px #ddd;
}

.footer {
	border-top: solid 1px #ddd;
}

.admVisualizar {
    /* background: #1b7af7;
	color: white; */
	display: block;
	padding: 20px 10px 20px 10px;
	color: #1b7af7;
	text-align: center;
	text-decoration: none;
}

.admVisualizar:hover {
    background: #1b7af7;
	color: white;
}

.admExcluir{
	/* background: #e20000;
	color: white; */
	display: block;
	padding: 20px 10px 20px 10px;
	color: #e20000;
	text-align: center;
	text-decoration: none;
}

.admExcluir:hover, .admExcluir:focus {
	background: #e20000;
	color: white;
}


.admSearch { 
	width: 98%;
}

.frmSearch {
	margin: 10px;
	float: right;
}

.frmSearch input{
	padding: 5px;
}

.frmInput{
    background: #fafafa;
    color: #777;
    border: solid 1px #888;
    border-radius: 3px;
}
.frmInput:hover, .frmInput:focus{
    background: linear-gradient( #fafafa, #f2f2f2);
    color: #000;
    border: solid 1px #000;
	cursor: pointer;
	outline: none;
}

.paginationUl {
	list-style-type: none;
}

.paginationLi {
	float: left;
}

.paginationLi a {
	padding: 5px;
	display: block;
	font-size: 0.9em;
}

.pageSelected { 
	font-weight: bold;
}


.admActions {
	float: left;
}

.painelTable {
	font-size: 0.9em;
	background: none;
	margin: auto;
	margin-top: 40px;
	/* border-collapse: collapse; */
	width: 90%;
}

.painelTable th {
	text-align: left;
}

.painelTable th::after {
	content: ":";
}

.painelTable td::before {
	content: "- ";
}

.painelTable td {
	display: block;
	padding: 5px 5px 5px 10px;	
	/* width: 33%; */
	/* text-align: center; */
}

.relLinks {
	color: #666;
}

.relLinks:hover, .relLinks:focus {
	color: black;
}

.grid_3 {
	width: 70%;
}

.grid_2 {
	width: 70%;
}

.admDevolver{
	/* background: #e20000;
	color: white; */
	display: block;
	padding: 20px 10px 20px 10px;
	color: #00b90f;
	text-align: center;
	text-decoration: none;
}

.admDevolver:hover, .admDevolver:focus {
	background: #00b90f;
	color: white;
}

.admDevolverDisabled, .admDevolverDisabled:hover, .admDevolverDisabled:focus {
	display: block;
	padding: 20px 10px 20px 10px;
	text-align: center;
	text-decoration: none;
	color: #bbb;
	border: solid 1px rgba(0, 0, 0, 0);
}

.tdAtrasado {
	color: #e20000;
}

.tdDevolvido {
	color: #00b90f;
}



.b1 {
	font-weight: bold;
	color: #00b90f;
}

.b2 {
	font-weight: bold;
	/* color: #e20000; */
}

#lbl_f_exc, #f_exc {
	font-size: 0.9em;
	color: #242424;
	margin: auto;
	cursor: pointer;
}

#lbl_f_dev, #f_dev {
	font-size: 0.9em;
	color: #242424;
	margin: auto;
	cursor: pointer;
}

#lbl_f_dia, #f_dia {
	font-size: 0.9em;
	color: #242424;
	margin: auto;
	cursor: pointer;
}

.cad_2grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 10px;
	grid-template-rows: 1fr;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}