body {
    /* height: 92vh; */
}

.sobre {
    width: 100%;
    height: 92vh;
    margin: auto;
}

.sobreContent {
    padding-top: 5%;
}

.sobreDesc {
    /* text-align: left; */
    width: 40%;
    margin: auto;
}

.textcenter h1 {
    margin: 0;
    /* margin-bottom: 0; */
    font-weight: normal;
}

.opensource {
    font-size: 1.1em;
    text-align: center;
}

.logo {
    width: 50%;
    margin: auto;
}

.presentLogo {
    width: 20%;
    margin: auto;
    margin-top: 20px;
}

/* .presentLogo img  */